# SPDX-FileCopyrightText: 2026  IMAGIN sp. z o.o.
# SPDX-FileContributor: Marcin Engelmann <mengelmann@octivi.com>
# SPDX-License-Identifier: MIT
#
# This file is part of the unfbackup UniFi OS controller backup tool.
# https://github.com/octivi/unfbackup

UNFBACKUP_USERNAME=user
UNFBACKUP_PASSWORD=secret
UNFBACKUP_CONTROLLER_URL=https://controller.example.com
UNFBACKUP_DEST_DIR=/var/backups/unfbackup
# UNFBACKUP_DEST_FILENAME=unifi-backup.unf
# UNFBACKUP_ALLOW_INSECURE_TLS=1

# Docker Compose settings
UNFBACKUP_OUTPUT_DIR=./backup
UNFBACKUP_INTERVAL=1d
# UNFBACKUP_UID=1000
# UNFBACKUP_GID=1000
